[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/Masellum/hugo-theme-nostyleplease.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
